@model IEnumerable<HastaneRandevuSistemiii.Models.Poliklinik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoliklinikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaneId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PoliklinikAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HastaneId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PoliklinikId">Details |</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PoliklinikId">Edit |</a>

                        <a asp-action="Delete" asp-route-id="@item.PoliklinikId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
