 @model IEnumerable<HastaneRandevuSistemiii.Models.Poliklinik>

@{
    ViewData["Title"] = "Index";
    var hastaneler = ViewData["Hastaneler"] as List<Hastane>;

}
<link rel="stylesheet" href="~/css/Index.css" />
<h1>Poliklinikler</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoliklinikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastane.HastaneAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PoliklinikAdi)
                </td>
                <td>
                    @{
                        var hastane = hastaneler.Where(x => x.HastaneId == item.HastaneId).FirstOrDefault();    
                    }
                    @hastane.HastaneAdi
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PoliklinikId" class="btn-primary">Detay </a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PoliklinikId" class="btn-primary">Düzenle </a>

                        <a asp-action="Delete" asp-route-id="@item.PoliklinikId" class="btn-primary">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn-primary">Yeni Poliklinik Ekle</a>
}
