@model HastaneRandevuSistemiii.Models.Randevu

@{
	ViewData["Title"] = "Create";
	var hastaneler = ViewData["Hastaneler"] as List<Hastane>;
	var kullanıcılar = ViewData["Kullanıcılar"] as List<Kullanici>;
}
<h4>Randevu Ekle</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div>
				<label> Hastane</label>
				<select class="form-select form-select-lg mb-3" aria-label="Large select example" onchange="GetPoliklinikler(this.value)">
					<option value="">Seçiniz</option>
					@foreach (var item in hastaneler)
					{
						<option value="@item.HastaneId">@item.HastaneAdi</option>
					}
				</select>
			</div>
			<div>
				<label> Poliklinik</label>
				<select id="PoliklinikId" class="form-select form-select-lg mb-3" aria-label="Large select example" onchange="GetDoktorlar(this.value)">
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Doktor</label>
				<select id="DoktorId" asp-for="DoktorId" class="form-select form-select-lg mb-3" aria-label="Large select example"></select>
				<span asp-validation-for="DoktorId" class="text-danger"></span>
			</div>
			@if (User.IsInRole("Admin"))
			{
				<div class="form-group">
					<label>Hasta</label>
					<select asp-for="KullaniciId" class="form-select form-select-lg mb-3" aria-label="Large select example">
						<option value="">Seçiniz</option>
						@foreach (var item in kullanıcılar)
						{
							<option value="@item.Id">@item.KullaniciAd @item.KullaniciSoyad</option>
						}
					</select>
					<span asp-validation-for="KullaniciId" class="text-danger"></span>
				</div>
			}
			<div class="form-group">
				<label asp-for="RandevuGun" class="control-label "></label>
				<input asp-for="RandevuGun" class="form-control form-control-lg" />
				<span asp-validation-for="RandevuGun" class="text-danger"></span>
			</div>
			<br />
			<divclass ="form-group">
				<label asp-for="RandevuSaat" class="control-label "></label>
				<select asp-for="RandevuSaat" class="form-select form-select-lg mb-3" aria-label="Large select example">
					<option value="">Seçiniz</option>
					<option value="09:00">09:00</option>
					<option value="09:30">09:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="12:00">12:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
				</select>
				<span asp-validation-for="RandevuSaat" class="text-danger"></span>
			</divclass>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<br />
<div>
	<a asp-action="Index" style="btn btn-primary" >Geri Dön</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		function GetPoliklinikler(hastaneId) {
			$.ajax({
				url: '@Url.Action("GetPoliklinikler", "Randevu")',
				data: { hastaneId: hastaneId },
				type: 'GET',
				success: function (poliklinikler) {
					$("#PoliklinikId").empty(); // Önceki seçenekleri temizle
					$("#PoliklinikId").append($('<option value="">Seçiniz</option>'));
					$.each(poliklinikler, function (index, poliklinik) {
						$("#PoliklinikId").append($('<option value="' + poliklinik.poliklinikId + '">' + poliklinik.poliklinikAdi + '</option>'));
					});
				},
				error: function (error) {
					console.error(error);
				}
			});
		}
		function GetDoktorlar(poliklinikId) {
			$.ajax({
				url: '@Url.Action("GetDoktorlar", "Randevu")',
				data: { poliklinikId: poliklinikId },
				type: 'GET',
				success: function (doktorlar) {
					$("#DoktorId").empty(); // Önceki seçenekleri temizle
					$("#DoktorId").append($('<option value="">Seçiniz</option>'));
					$.each(doktorlar, function (index, doktor) {
						$("#DoktorId").append($('<option value="' + doktor.doktorId + '">' + doktor.doktorAdi + '</option>'));
					});
				},
				error: function (error) {
					console.error(error);
				}
			});
		}
	</script>
}


<style>
      .container {
        max-width: 960px;
        margin: 0 auto;
    }

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-select {
        width: 100%;
    }

    .form-control {
        height: 40px;
        border-radius: 20px;
    }

    .btn {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        border-radius: 20px;
    }

    .alert {
        width: 100%;
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .mb-4 {
        margin-bottom: 1rem;
    }

    .mt-4 {
        margin-top: 1rem;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-outline-secondary {
        border: 1px solid #ccc;
        color: #ccc;
    }


</style>
