@model IEnumerable<HastaneRandevuSistemiii.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoktorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuTarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTarih)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RandevuID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RandevuID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RandevuID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
