@model HastaneRandevuSistemiii.Models.Hastane

@{
    ViewData["Title"] = "Details";
}

<h1 name="Detay">@_localization.Getkey("Detay").Value</h1>

<div>
    <h4 name="Hastane">@_localization.Getkey("Hastane").Value</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaneAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaneAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HastaneTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HastaneTel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HastaneAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HastaneAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" id="Düzenle" asp-route-id="@Model?.HastaneId">@_localization.Getkey("Düzenle").Value</a> |
    <a asp-action="Index" class="btn btn-primary" id="dön">@_localization.Getkey("Listeye Geri Dön").Value</a>
</div>
