@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization



@model IEnumerable<HastaneRandevuSistemiii.Models.Hastane>



@{
    ViewData["Title"] = "Hastaneler";  
}

<link rel="stylesheet" href="~/css/Index.css"/>

<h1 name="baslik">@_localization.Getkey("Hastaneler").Value</h1>

<table class="table">
    <thead>
        <tr>
            <th>@_localization.Getkey("Hastane Adı").Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hastane in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => hastane.HastaneAdi)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@hastane.HastaneId" id="Detay" class="btn-primary">@_localization.Getkey("Detay").Value</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@hastane.HastaneId" id="Düzenle" class="btn-primary">@_localization.Getkey("Düzenle").Value</a>
                        <a asp-action="Delete" asp-route-id="@hastane.HastaneId" id="Sil" class="btn-primary">@_localization.Getkey("Sil").Value</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<br>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" id="Yeni Hastane Ekle" class="btn-primary">@_localization.Getkey("Yeni Hastane Ekle").Value</a>
}