@model IEnumerable<HastaneRandevuSistemiii.Models.Doktor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Index.css" />
<h1>Doktorlar</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoktorAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoktorSoyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poliklinik.PoliklinikAdi)
            </th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoktorAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoktorSoyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poliklinik.PoliklinikAdi)
                </td>
     
                <td>
                    <a asp-action="Details" asp-route-id="@item.DoktorId" class="btn-primary">Detaylar</a>
                    @if (User.IsInRole("Admin"))
                    {
                       
                      <a asp-action="Edit" asp-route-id="@item.DoktorId" class="btn-primary">Düzenle</a>

                      <a asp-action="Delete" asp-route-id="@item.DoktorId" class="btn-primary">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn-primary">Yeni Doktor Ekle</a>
}
